<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            tools:node="remove" />
    </application>
</manifest>
